<h1>Galpão <%= @warehouse["code"] %> - <%= @warehouse["name"] %></h1>
<p><%= @warehouse["city"] %></p>
<p><%= @warehouse["address"] %> - CEP <%= @warehouse["zip"] %></p>
<p><%= @warehouse["description"] %></p>